body {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  background-color: hsl(229, 24%, 87%);
}

button {
  font-family: inherit;
}

.container {
  display: flex;
  background-color: #fff;
  margin: 3% auto;
  border-radius: 10px;
  box-shadow: 20px 20px 20px rgba(47, 18, 18, 0.1);
  width: 1000px;
  height: 568px;
}

.displayStep {
  display: flex;
  flex-direction: column;
  width: 274px;
  height: 568px;
  background-image: url(../assets/images/bg-sidebar-desktop.svg);
}

.circle {
  display: flex;
  gap: 10px;
  align-items: center;
  width: 60%;
  height: 15%;
  margin-left: 30px;
  color: white;
  font-weight: 500;
  padding: 5px;
}

.circle p {
  margin-top: 15px;
}
.circle p span {
  font-size: 13px;
  color: rgb(171, 168, 168);
}

.circle1,
.circle2,
.circle3,
.circle4 {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
}

.circle1 {
  background-color: #fff;
  color: black;
}

.circle2,
.circle3,
.circle4 {
  background-color: transparent;
}

.steps {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  height: 50%;
  margin-top: 15%;
}

.step1 {
  padding-left: 5px;
}

.steps p {
  margin: 0;
  font-size: 14px;
  color: hsl(231, 11%, 63%);
}

.steps span {
  color: white;
}

.stepContainer {
  background-color: transparent;
  width: 50%;
  height: 550px;
  margin: auto;
}

.stepInfo,
#stepPlan,
#stepAddOn,
#stepSummary,
#stepThankYou {
  display: flex;
  flex-direction: column;
}

#stepPlan,
#stepAddOn,
#stepSummary,
#stepThankYou {
  display: none;
}

#stepThankYou {
  align-items: center;
  margin-top: 150px;
}

.stepThankYou img {
  width: 80px;
}

.stepInfo input {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid rgba(103, 92, 92, 0.628);
}

.buttonContainerStepOne,
.buttonContainerStepTwo,
.buttonContainerStepThree,
.buttonContainerStepFour {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  padding-top: 75px;
}

.buttonContainerStepOne {
  padding-left: 380px;
  padding-top: 73px;
}

.nextStep {
  padding: 15px 20px;
  width: 120px;
  background-color: hsl(213, 96%, 18%);
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.nextStep:hover {
  background-color: hsla(243, 100%, 62%, 0.423);
}

.addOnButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  border: 1px solid hsl(229, 24%, 87%);
  border-radius: 10px;
  height: 80px;
  padding: 0 30px;
}

.addOnButton:hover {
  border-color: hsl(229, 77%, 52%);
}

.addOnButton p {
  margin: 2px 0 2px 20px;
  font-weight: bold;
}

.addOnButton span {
  margin-left: 20px;
  font-size: 15px;
}

.regroup {
  display: flex;
}

.planMonth {
  display: flex;
  justify-content: space-between;
}

.planButton {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 30%;
  height: 200px;
  border: 1px solid hsl(229, 24%, 87%);
  background-color: white;
  cursor: pointer;
}

.planButton:hover {
  border-color: hsl(213, 96%, 18%);
}

.planButton img {
  margin: 14px 0 0 8px;
}

.planButton p {
  font-size: 18px;
  margin: 50px 0 8px 8px;
}

.planButton span {
  margin-left: 8px;
  color: hsl(231, 11%, 63%);
}

.free {
  cursor: pointer;
  margin-left: 8px;
  font-size: 12px;
}

#modeTotal {
  color: hsl(231, 11%, 63%);
}

.switch {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 56px;
  background-color: hsl(217, 100%, 97%);
  border-radius: 10px;
  margin-top: 25px;
}

.check {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 20px;
  cursor: pointer;
  margin: 15px 10px;
}

.check input {
  position: absolute;
  top: -30px;
  left: -30px;
  width: 0;
  height: 0;
}

.check input + span {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: hsl(213, 96%, 18%);
  border-radius: 20px;
}

.check input:checked + span {
  background: hsl(213, 96%, 18%);
}

.check input + span:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 4px;
  width: 12px;
  height: 12px;
  background: white;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: all 0.5s;
}

.check input:checked + span:before {
  left: 24px;
}

#planYear,
#addonAnnee,
#resumeYear {
  display: none;
  flex-direction: column;
  margin-left: 40px;
}

#resumeMonth {
  display: flex;
  flex-direction: column;
}

.containerResume {
  width: 100%;
  background-color: hsl(229, 28%, 96%);
  padding: 1px 30px 10px 20px;
  border-radius: 10px;
}

.resume {
  width: 100%;
  margin-left: 30px;
}
.containerResume {
  width: 80%;
}
.containerResume button {
  border: none;
  background-color: transparent;
  text-decoration: underline;
  cursor: pointer;
}

.containerResume button:hover {
  color: hsl(243, 100%, 62%);
}

.containerResume h4 {
  margin-bottom: 0;
}

.containerResume span {
  display: block;
  height: 1px;
  background-color: hsl(231, 18%, 88%);
}

.flexResume,
.flexTotal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
}

.flexTotal {
  margin-top: 15px;
  width: 80%;
  padding: 1px 20px 10px 20px;
  border-radius: 10px;
}

.flexTotal span {
  font-size: 20px;
  color: hsl(243, 100%, 62%);
}

.stepAddOn input:checked {
  color: blue;
}

.goBack {
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 16px;
  color: hsl(231, 11%, 63%);
}

.dollar {
  margin-left: -239px;
}

.underMedia {
  flex-direction: column;
}
.error,
.errorName,
.errorNum,
.errorMail {
  color: red;
  font-size: 10px;
}
.error {
  position: absolute;
  right: 400px;
}
.flexError {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 15px;
  padding-top: 10px;
}

/* _________________ */

.stepInfo {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 15px;
  margin-left: 100px;
}

.stepInfo .description {
  margin-left: 100px;
  text-transform: bold;
}

.selectPlan {
  margin-left: 100px;
  width: 50%;
}
.reviewAndConfirm {
  margin-left: 90px;
}

.active {
  border: 2px solid #fdfeff;
}

.stepAddOn {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 5800px;
  margin-left: 90px;
}

.row {
  height: 300px;
  max-height: 300px;
}

.row label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  padding: 17px 20px;
  width: 90%;
  height: 50px;
  border: 1px solid rgb(219, 217, 217);
  margin: 20px;
}
.row label:hover {
  border-color: #068ac8;
}
.reviewAndConfirm h1 {
  margin-left: 30px;
}
.description {
  margin-left: 30px;
}
.stepAddOn h1 {
  margin-left: 30px;
}
.buttonContainerStepTwo {
  width: 100%;
}
.stepAddOn .buttonContainerStepTwo {
  margin-left: 30px;
}
.pickRow {
  display: flex;
  align-items: start;
  gap: 20px;
}
.pickRow span {
  font-weight: 600;
}

.stepThankYou {
  max-width: 500px;
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.stepThankYou p {
  text-align: center;
}

/* RESPONSIVE */

/* For tablets and smaller devices */
@media (max-width: 1024px) {
  .container {
    flex-direction: column;
    width: 90%;
    height: auto;
    margin: 3% auto;
  }

  .displayStep {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: space-around;
    background-size: cover;
  }

  .circle {
    width: auto;
    height: auto;
    margin-left: 0;
    justify-content: center;
  }

  .steps {
    width: 100%;
    margin-top: 0;
    align-items: center;
  }

  .stepContainer {
    width: 100%;
    height: auto;
  }

  .stepInfo,
  .stepAddOn,
  .stepSummary,
  .stepThankYou {
    width: 100%;
    margin-left: 0;
    width: 100%;
  }

  .stepInfo input {
    width: 150%;
    margin: 0 auto;
  }

  .buttonContainerStepOne,
  .buttonContainerStepTwo,
  .buttonContainerStepThree,
  .buttonContainerStepFour {
    padding-top: 20px;
    justify-content: center;
  }

  .addOnButton {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    padding: 15px;
  }

  .addOnButton p {
    margin: 10px 0;
  }

  .planButton {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
  }

  .flexResume,
  .flexTotal {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }

  .flexTotal span {
    font-size: 18px;
  }
  .row .buttonContainerStepTwo {
    width: 100px;
    margin-top: 40px;
  }
  .stepThankYou {
    max-width: 100%;
    margin-left: 0;
  }
}

/* For mobile devices */
@media (max-width: 768px) {
  .reviewAndConfirm {
    margin-left: 0px;
  }
  .reviewAndConfirm .buttonContainerStepTwo {
    max-width: 100px;
  }
  .stepThankYou {
    width: 100%;
    margin-left: 0px;
    text-align: center;
  }
  .displayStep {
    flex-direction: column;
    align-items: center;
    background-image: none;
    background-color: hsl(229, 24%, 87%);
  }
  .stepInfo .description {
    text-align: center;
    max-width: 100px;
  }
  .selectPlan {
    margin-left: 30px;
    width: 85%;
  }

  .row {
    max-width: 300px;
  }

  .error {
    margin-left: 0;
  }

  .circle {
    width: 100%;
    justify-content: center;
    margin-bottom: 10px;
  }

  .stepContainer,
  .stepInfo,
  .stepAddOn,
  .stepSummary,
  .stepThankYou {
    padding: 0 20px;
  }

  .planButton {
    width: 100%;
    margin-bottom: 10px;
  }

  .containerResume {
    padding: 10px;
  }

  .buttonContainerStepOne,
  .buttonContainerStepTwo,
  .buttonContainerStepThree,
  .buttonContainerStepFour {
    padding: 10px 0;
    flex-direction: column;
  }

  .nextStep {
    width: 100%;
  }

  .goBack {
    width: 100%;
    margin-top: 10px;
    text-align: center;
  }

  .stepAddOn {
    width: 100%;
    margin-left: 0;
    padding: 0;
  }

  .pickRow {
    flex-direction: column;
    gap: 10px;
  }
}
